[2014-01-18 20:59] machty opened #4 "Mustache attr shorthand"
Valid

[code]

Invalid

[code]

TODO

[code]

[2014-01-22 22:58] Nopik opened #6 "Tag close handled incorrectly"
It seems that attributeValueUnquoted in simple-html-tokenizer.js (https://github.com/tildeio/htmlbars/blob/master/lib/vendor/simple-html-tokenizer.js#L270) is not handling '/' character properly.

I.e. this:

[code]

will get parsed incorrectly (i.e. '/' will be treated as part of attribute value, and 'p' tag will not be closed.

Might be intentional, but it seems like a bug. Could anybody verify

[2014-01-23 06:05] #6 closed, assigned to nobody

[2014-01-29 21:36] ghost opened #9 "publish to npm"
There is a package.json here and working code, but htmlbars isn't on npm. Publish it before somebody else does!

[2014-01-29 21:46] ghost opened #10 "scripts.prepublish to compile away the es6"
There is a bunch of ES6 in this module, which doesn't work in any actual place. How can this module be consumed?

[2014-01-29 22:57] #10 closed, assigned to nobody

[2014-01-29 23:19] #9 closed, assigned to nobody

[2014-01-30 05:45] #4 closed, assigned to machty

[2014-03-16 07:49] Anachron opened #16 "official Release"
There is no change for 3 weeks and still a lot to be done. Checking the EmberJS website this library should have gone 1.0.0 around beginning of this year. So my question is:
What happened and when can we look at the first release?

[2014-03-16 12:43] #16 closed, assigned to nobody

[2014-05-14 08:10] ghost opened #28 "Name change"
I'm sure you guys have thought of this, and I'm not sure of the best place to put this, but to my mind the progression from Handlebars should be something like Goatee or Musketeer
![imperial](https://cloud.githubusercontent.com/assets/557086/2968377/371f11fc-db3f-11e3-8ab7-bd8ed8e3ff78.jpg)
![muskateer](https://cloud.githubusercontent.com/assets/557086/2968378/3726cf82-db3f-11e3-83f2-5e1d56c4102d.

[2014-06-13 20:30] mmun opened #44 "Helper API clean up"
## Status quo
#### Hooks that appear in compiled templates
- `content(morph, helperName, context, params, options)`
- `webComponent(morph, tagName, context, options, helpers)`
- `element(domElement, helperName, context, params, options)`
- `subexpr(helperName, context, params, options)`
#### Secondary hook utilities

HTMLBars:
- `webComponentFallback(morph, tagName, context, options, helpers)`
- `

[2014-07-07 18:15] mixonic opened #68 "boolean attributes syntax"
An example attribute in HTMLBars today:

[code]

The implementation (based on `setAttribute`) seems to be well supported across recent browser versions across the board.

Boolean attributes are a different story. A first stab at a list of boolean attributes (ignoring read-only attributes):

[code]

These attributes are _always true if present_. From the [living spec](http://www.whatwg.org/specs/we

[2014-07-12 01:09] #44 closed, assigned to nobody

[2014-07-14 16:46] mixonic opened #72 "IE9 Mega-bug"
Want to track some probably issues with IE9, in prep for supporting it.
- [ ] Cannot set innerHTML on a bunch of objects https://github.com/emberjs/ember.js/compare/18dd58deb55d...7cae2d2b4392
- [ ] Merges adjacent text nodes during cloneNode
- [x] [simple html tokenizer uses unquoted "in"](https://github.com/tildeio/simple-html-tokenizer/blob/master/lib/simple-html-tokenizer/char-refs.js#L1140) (

[2014-09-02 07:57] mingliangfeng opened #82 "Cannot build with "npm run-script build" on latest master branch"
Whenever I try to build with "npm run-script build", I got this:
Build failed.

[code]

Is there anything I did wrong here?

[2014-09-03 18:39] #82 closed, assigned to nobody

[2014-09-04 18:14] mmun opened #85 "getElementById"
getElementById(detachedDocumentFragmentOrElement, id)

[2014-09-04 18:19] mmun opened #86 "Automated cross-browser testing"
We need to run the dom helper tests on more browsers, ideally back to IE6. Probably with saucelabs?

[2014-09-04 18:21] #68 closed, assigned to nobody

[2014-09-04 18:31] mmun opened #87 "createElement should accept a hash of attributes"
This is required for compatibility with IE6 to abstract away these kinds of hacks:

https://github.com/emberjs/ember.js/blob/0e7a08ea93f7e7b4fbecdb474854584ecc0b2cfe/packages/ember-views/lib/system/render_buffer.js#L454-L461

[2014-09-04 20:13] matthewrobb opened #88 "Invalid code generated from invalid module syntax"
Currently both in htmlbars and handlebars there is a common occurrence of the following:

[code]

Which transpiles into:

[code]

As you can see we end up with a static error by re-declaring identifiers. I would propose adjusting to the following:

[code]

Which transpiles to:

[code]

There are better ways to write this technically and in relation to the ES6 Modules spec but the transpiler doesn'

[2014-10-22 20:36] mixonic opened #101 "Only create a cachedFragment on the second render of a template"
Creating the cached fragment make initial rendering slower than desired. Since inital page load is such an important metric, it makes sense to defer the cachedFragment saving until the second time a template is called.

[2014-10-29 20:43] urbany opened #103 "Problem on buildIESafeDOM with non strings"
Hi, I just updated from Ember#1.6 to Ember#1.8 and i'm having a problem here:
https://github.com/tildeio/htmlbars/blob/87c7635744aa258c05bb88a432a69dd88ecb6f57/packages/morph/lib/dom-helper/build-html-dom.js#L154

this function assumes html is a string so it has replace, but in some cases this html it a number and replace is not available. Does this make sense?

[2014-10-29 21:14] #103 closed, assigned to nobody

[2014-11-02 01:43] mixonic opened #106 "Make a domhelper test in node, asserting that it loads without document"

[2014-11-14 10:01] mmun opened #114 "Update helper signature"
Add `hash` to the arguments: `function fooHelper(params, hash, options, env)`.

[2014-11-14 10:05] mmun opened #115 "Ensure that hash/hashTypes always present"
Ambiguous helpers like `{{outlet}}` and `{{yield}}` currently don't get a hash passed to them. They should get passed an empty hash.

[2014-11-14 10:08] mmun opened #116 "Upgrade to Handlebars master"

[2014-11-14 10:13] mmun opened #117 "Implement block params parsing in HTML syntax"
[code]

should parse to the same AST as

[code]

Currently `as |day month year|` will be treated as 4 different attributes: `as`, `|day`, `month`, `year|`.

[2014-11-14 10:24] mmun opened #118 "Implement source maps"

[2014-11-14 10:31] mmun opened #119 "Don't cache the fragment on the first pass"
To speed up initial renders we should not cache & clone the fragment on the first execution of the template. Instead we should cache the fragment on the _second_ execution.

[2014-11-14 10:33] #119 closed, assigned to nobody

[2014-11-14 10:45] mmun opened #120 "Rename webComponent hook to component"

[2014-11-14 10:51] #28 closed, assigned to nobody

[2014-11-14 10:58] #72 closed, assigned to nobody

[2014-11-14 12:34] #120 closed, assigned to nobody

[2014-11-14 12:48] mmun opened #122 "Mark root template with isTop"
[code]

Needs to be changed to

[code]

This is to support the `{{outlet}}` helper in Ember. Should also add a test that confirms the root template has `isTop === true` but that child templates don't have this property.

If someone could explain to me how exactly `isTop` is used in Ember that would be great too :D Maybe there's a better solution.

[2014-11-14 13:34] mmun opened #123 "Don't concat unquoted attribute values"
An AttrNode is composed of a `name` and a `value`. The `value` can be either a string primitive or a `MustacheNode`. Here is a summary of the different cases today (the MustacheNodes are written as their equivalent mustache template syntax for brevity).

[code]

Note that 3 & 4 both call `concat` on `baz`. Instead we need 4 to be just

[code]

The work required is pretty minimal. Right now we use

[2014-11-14 14:20] #115 closed, assigned to nobody

[2014-11-14 14:23] mmun opened #125 "Split paths at compile time"
The template `{{foo.bar.baz}}` currently generates the hydration hook

[code]

Instead it should split the path at runtime so that the strings are interned:

[code]

~~Single segment paths can just pass a string, e.g. `{{foo}}` should result in~~. Edit: Just keep it simple for now and always pass an array.

[code]

This should also affect params and hashes.

[2014-11-14 19:15] #88 closed, assigned to nobody

[2014-11-14 22:22] #114 closed, assigned to nobody

[2014-11-15 01:38] #125 closed, assigned to nobody

[2014-11-15 02:18] #122 closed, assigned to nobody

[2014-11-17 18:10] lazd opened #137 "No module-less runtime present in dist/"
It would be nice to have a runtime distribution that exposes `window.HTMLBars` in environments that don't use a module system.

Is this possible given the fact that the project is relying heavily on modules?

[2014-11-17 18:22] lazd opened #138 "Build output does not contain license comment or version information"
Though it's clear HTMLBars is licensed MIT, the build output in the npm package does not contain a license comment or version information.

If HTMLBars is bundled in other projects, it's important to indicate its license without requiring that the `LICENSE` file itself be bundled.

[2014-11-17 22:46] mmun opened #140 "Pass `escaped` to morph instead of helper"
Instead of

[code]

we should generate

[code]

[2014-11-18 00:04] #138 closed, assigned to nobody

[2014-11-18 06:34] #116 closed, assigned to mmun

[2014-11-18 17:19] #140 closed, assigned to nobody

[2014-11-20 08:37] mmun opened #148 "Blocks should not create unsafe morphs"
The _only_ time createUnsafeMorphAt should be used is for an escaped mustache `{{{foo}}}`.

[2014-11-21 02:20] #148 closed, assigned to nobody

[2014-11-21 22:31] mmun opened #151 "Runtime block params"
Block params need to be reimplemented to not rely on JavaScript's lexical scoping at compile time. This is so that `{{partial}}` will continue to work as if you had cut and paste the contents of the partial into the template.

The strategy will be to use `env.set(context, {blockParamName}, blockArguments[i])` to stash the block param on the context (in ember this will probably be on `context._keyw

[2014-11-22 05:38] #123 closed, assigned to nobody

[2014-11-22 18:20] rwjblue opened #157 "Indentation for attribute hook is incorrect."
[code]

The `hook.attribute` line should be the same indentation as the line directly above it.

[2014-11-22 18:24] #157 closed, assigned to nobody

[2014-11-24 21:02] mmun opened #166 "Unwrap ambiguous mustaches in attributes to their id"
The part I haven't done yet but wanted to do is to unwrap ambiguous mustaches (like in both of the above examples) into a plain ID node. This is just a minor optimization.

Concretely, `foo={{bar}}` should have an attr value of

[code]

instead of the current

[code]

and similarly `foo="a{{b}}{{c d}}"` should have a value of

[code]

instead of the current

[code]

This seems natural and will rem

[2014-11-24 21:09] #151 closed, assigned to mmun

[2014-11-28 22:33] rwjblue opened #170 "Report line information for HTML validation errors."

[2014-11-29 07:06] #170 closed, assigned to nobody

[2014-11-30 20:08] #166 closed, assigned to mmun

[2014-12-02 04:33] mmun opened #179 "Simplify AttrNode"
The AttrNode AST node is confusing. We should remove `quoted` from the AST and make `value` a simple node, instead of an array. Specific proposal:

[code]

which would map to

`<div id></div>` - TextNode
`<div id=foo></div>` - TextNode
`<div id="foo"></div>` - TextNode
`<div id={{foo}}></div>` - MustacheStatement
`<div id={{foo bar}}></div>` - MustacheStatement
`<div id="{{bar}}"></div>` - ConcatS

[2014-12-02 05:10] #117 closed, assigned to nobody

[2014-12-03 00:10] jmurphyau opened #180 "Closing and reopening tags dynamically doesn't compile"
I'm not sure if I'm logging this issue in the right place or not. This is the first time I've ever created an issue on GitHub.

I experienced this issue in Ember using HTMLBars so I downloaded this repository and attempted to add a test - it looked like the following file would be the most appropriate place:

`htmlbars/packages/htmlbars-compiler/tests/combined_ast_node-test.js`

The template is de

[2014-12-03 00:18] #180 closed, assigned to nobody

[2014-12-03 03:38] mmun opened #182 "Throw when using multiple nodes in an unquoted attribute value"
These three cases should throw an error:
- `<img class=foo{{bar}}>`
- `<img class={{foo}}{{bar}}>`
- `<img class={{foo}}bar>`

[2014-12-03 18:58] #179 closed, assigned to mmun

[2014-12-05 01:15] ming-codes opened #190 "Use text node for morph is too fragile when combined with other libraries"
As continued discussion of emberjs/ember.js#9498, I think using empty text node for morph might be too fragile since the node is practically invisible. That might be the whole point but at the same time this makes it hard for it to work with other libraries (particularly jQuery plugins) that may want to wrap the DOM node.

If the reason to use empty text node is to avoid CSS selector issue, then t

[2014-12-05 01:18] zenobius opened #191 "Bring theese guys some beer and pizza!"
Hey!

Is there a donation we can do? :-)

A think a lot lot lot of devs are waiting for this to happen (myself and my team included).

Loading >300 records, every one with some metamorph if's, couple of relations, and it's not usable.

It's profiling hell, and it's not getting any better. We're hacking the hell out of handlebars, but we all know it's BS.

So, I'll bring you guys evetyghing you nee

[2014-12-05 17:42] #190 closed, assigned to nobody

[2014-12-05 21:23] mmun opened #193 "compile should skip Handlebars.parse if it is passed an object"
https://github.com/tildeio/htmlbars/blob/1060a73c4f5a76b674385c9516ad1fd59bd8a1d4/packages/htmlbars-syntax/lib/parser.js#L7

should be

[code]

This will allow Emblem to hook into HTMLBars.

[2014-12-08 18:13] mmun opened #197 "Update to latest version of simple-html-tokenizer"
The tildeio/simple-html-tokenizer project underwent some refactoring recently so htmlbars should be updated to track the changes.

[2014-12-08 20:08] #182 closed, assigned to nobody

[2014-12-10 04:29] #197 closed, assigned to nobody

[2014-12-10 16:34] koemeet opened #199 "[Performance] HTMLbars twice as slow as Handlebars 1.3"
Hi,

I've read that HTMLbars should improve performance of most Ember apps with 2-3 times. But, running latest `ember canary` with `latest ember-cli-htmlbars` results in htmlbars begin 2 times slower than Handlebars 1.3;

For example, these are screenshots of the same Ember app rendering a list of 10 items in a table. You can see that Handlebars is 2x faster:

Handlebars:
![](http://puu.sh/dp0VX/b

[2014-12-10 17:15] #199 closed, assigned to nobody

[2014-12-11 06:18] #193 closed, assigned to nobody

[2014-12-11 21:42] kamal opened #204 "this.element is undefined if bind-attr is after a no-value attribute"
With this markup:

[code]

I would hit an exception trying to read `setAttribute` on `undefined`.

Shuffling the attributes around made it work:

[code]

[2014-12-11 22:30] mmun opened #205 "Finalize AST"
- Introduce ElementModifier AST node.
- Rename ElementNode.helpers &rarr; ElementNode.modifiers

[2014-12-11 22:30] mmun opened #206 "Finalize Hooks"
| Source                       | Generated Hook                                                      |
|------------------------------|---------------------------------------------------------------------|
| Block params                 | `set(env, context, path, value)`                                    |
| PathExpression               | `get(env, context, path)`

[2014-12-11 23:42] #204 closed, assigned to nobody

[2014-12-12 18:44] #85 closed, assigned to nobody

[2014-12-13 16:13] #191 closed, assigned to nobody

[2014-12-14 20:44] #101 closed, assigned to nobody

[2014-12-15 03:09] #106 closed, assigned to nobody

[2014-12-18 14:46] johanneswuerbach opened #220 "Investigate why test failures are not reported"
Currently IE 10 and 11 don't pass the htmlbars test suite, but are only marked as finished and not as failed. Also the test output is not published as expected.

Example: https://saucelabs.com/tests/2e3b919384ea4ce48261a61447a2935c

Workaround to get the test output:
1. Open the build, e.g. https://saucelabs.com/tests/2e3b919384ea4ce48261a61447a2935c
2. Open the "Commands" tab
3. Click on "POST ex

[2014-12-20 09:34] epicmiller opened #222 "Concat hook called when only one path is provided"
This:
```<div class="{{path}}"></div>```

Will generate this:
```attribute(env, element14, "class", concat(env, [get(env, context, "path")]));```

It calls the concat hook when only a ```get()``` will suffice. When there is only one mustache in an attribute, concat should not be called.

[2014-12-23 07:03] salzhrani opened #223 "Correctly exit the svg namespace"
This is related to [#9971](https://github.com/emberjs/ember.js/issues/9971)

[2014-12-23 07:04] salzhrani opened #224 "Namespaced attributes"
I am willing to take a stab at it if no major changes are required.

[2014-12-27 05:07] oneeman opened #229 "IE test failures"
As pointed out by @johanneswuerbach in https://github.com/tildeio/htmlbars/issues/220, the current build has failing tests with IE.  I'm working on getting fixing that so they at least all pass with IE 11, which I have on my windows VM.

[2014-12-27 14:40] #223 closed, assigned to nobody

[2014-12-30 18:13] sergiomasellis opened #234 "How to use bind-attr conditionals?"
Hello guys, is there a way to do element class conditionals on HTMLbars?

[code]

Any guidance would be greatly appreciated !

[2014-12-30 18:18] #234 closed, assigned to nobody

[2015-01-07 14:30] #220 closed

[2015-01-07 17:21] zyllorion opened #241 "IE8: Object doesn't support this action"
https://github.com/tildeio/htmlbars/blob/5885113119d28b756baef2a1a185ed51d76f8aa0/packages/morph/lib/dom-helper.js

Ember      : 1.11.0-beta.1+canary.dca9c74d
Ember Data : 1.0.0-beta.14.1
jQuery     : 1.11.2

Line 182: element[normalized] = value;
is not happy when value="type", erroring with "Object doesn't support this action".

[2015-01-07 17:39] rwjblue commented on #241
@zyllorion - Can you share a template snippet that causes this error?

[2015-01-07 17:40] rwjblue commented on #241
Possibly somewhat related to https://github.com/tildeio/htmlbars/pull/239#issuecomment-68924786 (as we may need to call `setAttribute` on IE if you can't assign to the property).

[2015-01-08 03:00] #229 closed

[2015-01-08 03:09] mixonic commented on #222
@epicmiller I'm going to close this down. Having quotes to determine string-ness is going to be a lot more meaningful once we look at them in the light of tag-based components. Keep pondering though, we can re-open the discussion as we use the new APIs and learn more about how the act in real codebases.

Thanks! :-)

[2015-01-08 03:09] #222 closed

[2015-01-08 06:09] #224 closed

[2015-01-08 17:26] zyllorion commented on #241
@rwjblue Hi, I have tried deleting the template content entirely and it still errors.  I thought it may be an npm dependency or something, but the root route works fine no error (and no content to error on).  It could be either the route mapping which is fairly basic, or the ember-data models.  Either way I think you're right it needs to be parsed to avoid IE8 treating it wrong - the question is w

[2015-01-08 17:50] rwjblue commented on #241
@zyllorion - Can you throw together a quick sample repo (ember-cli is probably the easiest way to go ATM)?

[2015-01-09 04:42] mmun commented on #86
All browsers are currently passing except for IE8. Closing this issue (finally!) Thanks a lot @johanneswuerbach and @oneeman.

[2015-01-09 04:42] #86 closed

[2015-01-09 16:07] salzhrani opened #246 "IE8 and svg"
It seems that IE 8 doesn't support `createElementNS` or inline svg. what is the best approach to handle this ?
Been trying to make IE8 pass and this is a major issue

[2015-01-09 16:10] mixonic commented on #246
@salzhrani the code paths that require createElementNS should not be followed in IE8. An example in tests:

https://github.com/tildeio/htmlbars/blob/master/packages/morph/tests/dom-helper-test.js#L432

And an example in code:

https://github.com/tildeio/htmlbars/blob/master/packages/morph/lib/dom-helper.js#L197

[2015-01-10 15:11] oneeman commented on #241
This might well be due to my use of `indexOf` during template compilation.  @salzhrani is working on fixes for IE8, and that was one of the problems.  See https://github.com/tildeio/htmlbars/pull/247.

[2015-01-10 15:13] oneeman commented on #241
Oops, sorry about the prior comment (now deleted). I was confused.

[2015-01-11 06:21] mixonic opened #251 "IE <11 does not honor removeAttribute"
Try it with viewBox: http://jsfiddle.net/2BqmC/2/

However setting the value of the attribute to `null` does seem to work at first glance. `domHelper.removeAttribute` needs to handle this browser bug.

[2015-01-12 14:50] zyllorion commented on #241
Had to switch to 1.10 beta 4 and get different error now:
Invalid argument.
Which seems to be related to using {{yield}} in block components.  Remove the yield, no error.  Of course it also means no working component :)  Still working to isolate the problem...

[2015-01-13 16:30] rwjblue opened #254 "Need better error for unclosed element."
Thrown [here](https://github.com/tildeio/htmlbars/blob/cda0d6d6073e9baea2c580335b630a683286ef69/packages/htmlbars-syntax/lib/node-handlers.js#L30).  It should contain the line number of the unclosed tag.

[2015-01-13 23:12] oneeman commented on #254
Nice catch, thanks!

[2015-01-14 13:35] #254 closed

[2015-01-14 16:50] zyllorion opened #259 "IE8 Invalid argument (index out of bounds)"
[code]
The line highlighted above seems to cause the exception:
[code]
I think it most likely occurs when the following executes:
[code]
element looks like this: [object DispHTMLDocument]
and contains 0 childNodes

If I change the code to this:
[code]
I get
SCRIPT5022: a fragment parent must have boundary nodes in order to detect insertion

I'm not sure that element has been passed correctly as so

[2015-01-14 19:16] oneeman commented on #259
Thanks for pinpointing it!  At first glance, it looks like the same problem addressed by @salzhrani at https://github.com/tildeio/htmlbars/pull/247/files#diff-ae9f94d48470b7d9baaf54b27751f728R145, in which case we should be good on this once that PR gets merged (we can leave this issue open until it's confirmed as fixed after that happens).

[2015-01-14 19:22] oneeman commented on #259
(Well, except the stuff you mention at the end, we'll have to look at that, too)

[2015-01-15 02:04] oneeman commented on #246
Closing since you already took care of this in your PR :-)

[2015-01-15 02:04] #246 closed

[2015-01-16 14:58] mixonic commented on #259
@zyllorion can you take a look at master and see what is still an issue? We've fixed quite a few items.

[2015-01-17 18:53] mixonic opened #263 "Move /test to /tests"
The time has come.

Ember tests run at `/tests` and HTMLBars at `/test`. Let us make them both `/tests`. It will save us all 2 minutes a day.

[2015-01-18 18:53] #251 closed

[2015-01-19 10:48] zyllorion commented on #259
Looks great! :-) Thanks for the fixes.

[2015-01-19 10:48] #259 closed

[2015-01-19 21:52] #263 closed

[2015-01-22 21:32] chadhietala opened #266 "Change the description of repo"
I don't think this is "very much still a WIP" anymore :smile: .

[2015-01-23 01:08] rwjblue commented on #266
Agreed.

@tomdale / @wycats - Can one of y'all update the repo description (apparently only repo owners can do it)?

[2015-01-23 01:17] wagenet commented on #266
Done.

[2015-01-23 01:17] #266 closed

[2015-01-24 01:28] epicmiller opened #269 "Build Fails When Installed As Another Module's Dependancy"
The build does not finish when htmlbars is a dependency of another npm module. It fails with this error:
[code]
It is because of the ```getRevision()``` function here:
https://github.com/tildeio/htmlbars/blob/master/packages/index.js#L26

When installed into the node_modules folder as a dependancy, npm does not keep the .git directory and this function fails hard.

[2015-01-24 01:33] rwjblue commented on #269
Ember includes this as a dep of a dep (via `emberjs-build`) and it does work properly.

Can you provide more details? How have you referenced it in the `package.json`'s of the various projects?  How are you requiring? etc....

[2015-01-24 01:34] rwjblue commented on #269
But we should definitely make the `getRevision` function not blow up if `.git` isn't found.

[2015-01-24 01:38] epicmiller commented on #269
What versions of node is ember tested against?

[2015-01-24 01:38] rwjblue commented on #269
Also, the main entry point is `dist/cjs/htmlbars.js` (which is a file generated in `npm prepublish`), why require `htmlbars/packages` or `htmlbars/packages/index`?

[2015-01-24 01:38] rwjblue commented on #269
@epicmiller - The Ember test suite runs against Node 0.11 I believe.

[2015-01-24 01:45] epicmiller commented on #269
Let me update node and npm to the latest and see if it fixes things.

I'm pulling it down at a specific commit and it fails:
[code]

[2015-01-24 02:16] rwjblue commented on #269
HTMLBars is not designed to be required via `git` as you have setup here.  The main entry point (which is used when you do something like this: `var htmlbars = require('htmlbars');`) is `dist/cjs/htmlbars.js` which is a file that is generated as part of `npm prepublish`.

[2015-01-24 02:37] epicmiller commented on #269
```npm install``` (for some reason) calls ```npm prepublish``` too: https://github.com/npm/npm/issues/3059. So if all of its other dependancies are install it will actually generate the ```/dist``` directory.

I suppose it would just be a nice-to-have, being able to test htmlbars integration at any specific commit :) That was more important when it was more in flux though I suppose. Feel free to c

[2015-01-24 04:02] rwjblue commented on #269
'npm install' iwill call the prepublish script only within the htmlbars repo. If you have htmlbars as a dep, then call npm install on that parent repo the htmlbars prepublish is not called.

[2015-01-24 04:08] epicmiller commented on #269
Never mind then, you learn something new every day!

[2015-01-24 04:08] #269 closed

[2015-01-24 21:11] thejchap opened #270 "Helper syntax documentation/clarification"
Prior to HTMLbars things like this would work for defining helpers (this particular example in ember-cli):

[code]

Is there documentation somewhere or any discussion as to how to translate this to the new syntax? I was unable to find a clear path.

Happy to contribute docs if there is an answer somewhere and they haven't been written up yet.

Thanks!

[2015-01-24 21:12] rwjblue commented on #270
That should still work (we built a compatibility layer).  We should make sure it does.

[2015-01-24 21:14] thejchap commented on #270
Got it....here's versions if it's helpful....lmk if you'd like me to make an example repo or something

Ember  : 1.11.0-beta.1+canary.d2d1490d
Ember Data : 1.0.0-beta.15-canary
jQuery  : 2.1.1

[2015-01-24 21:16] thejchap commented on #270
Also, FWIW:

[code]

[2015-01-24 21:47] rwjblue commented on #270
Submitted https://github.com/emberjs/ember.js/pull/10279 to fix.

[2015-01-24 21:52] thejchap commented on #270
20 minutes flat....not too shabby...

Haha awesome

[2015-01-25 16:45] #270 closed

[2015-01-28 17:06] #241 closed

[2015-01-28 17:19] zyllorion opened #271 "application view rerender(): Uncaught TypeError: Cannot read property 'append' of null"
Ember-cli 0.1.9
ember.debug.js:4272 DEBUG: Ember      : 1.11.0-beta.1+canary.22d2afab
ember.debug.js:4272 DEBUG: Ember Data : 1.0.0-beta.14.1
ember.debug.js:4272 DEBUG: jQuery     : 1.11.2
ember-cli-i18n 0.0.5

Stack:
[code]
Called from here (the anonymous function above):
[code]
Erroring on this line:
[code]

I'm trying to refresh all views after modifying locale translations for ember-cli-i18n.

[2015-01-28 18:31] mmun commented on #271
This bug belongs in github.com/emberjs/ember.js/issues.

[2015-01-29 09:00] zyllorion commented on #271
Thanks, wasn't quite sure where the problem sits.  I've posted there and will reopen if nec.

[2015-01-29 09:00] #271 closed

[2015-01-30 21:55] mmun opened #272 "Tests broken with `ember serve`"
I think #265 broke how `ember serve` works. Are we no longer supporting this?

cc @johanneswuerbach

[2015-01-30 22:00] rwjblue commented on #272
Yes, @trek has a PR in ember-cli fixing the issue. I will release a new version once that lands.

[2015-01-30 22:01] rwjblue commented on #272
https://github.com/ember-cli/ember-cli/pull/3156

[2015-01-30 22:20] mmun commented on #272
¡qué alegría!

[2015-01-31 01:13] rwjblue commented on #272
https://github.com/ember-cli/ember-cli/pull/3156 has landed, this issue will be fixed once 0.1.13 is released...

[2015-02-05 04:10] mixonic opened #287 "IE8 does not set type as a prop"
IE8 throws an exception when changing type, at least in some cases (like changing the value from "reset" to "submit").

In the normalize function, we should attempt forcing type to be set with setAttribute, and see if that satisfies IE8 (along with modern browsers).

[2015-02-05 18:39] ebryn opened #288 "Need to special case the `is` attribute for custom elements"
http://www.w3.org/TR/custom-elements/#instantiating-custom-elements states:

`<button is="my-button">` should generate a `createElement('button', 'my-button')` call

[2015-02-06 19:15] mmun opened #290 "Support latest Handlebars AST"
Statement nodes explicitly list their parts (e.g. name, params, hash, etc.) instead of using a subexpression. See the discussion [here](https://github.com/wycats/handlebars.js/pull/941) in particular [this documentation update](https://github.com/wycats/handlebars.js/commit/999da739a66199483ffc4d82426550aee5ac798f?diff=split) is enlightening.

Anyone interested? I can break it down further.

[2015-02-06 21:08] benmoss commented on #287
Even if we change it to use `setAttribute`, IE8 still reports "This command is not supported". It seems it's not possible to change the `type` attribute once it has been set.

[2015-02-06 21:20] mixonic commented on #287
@ebryn trololo, you were correct about type as far as IE8 is concerned :-)

Thanks @benmoss

[2015-02-06 21:20] #287 closed

[2015-02-12 05:10] mmun commented on #272
Fixed in #293.

[2015-02-12 05:10] #272 closed

[2015-02-12 05:13] mmun commented on #206
With the advent of the reactive rerendering PR this issue is not really relevant.

[2015-02-12 05:13] #206 closed

[2015-02-12 17:15] Kerrick opened #295 ""Error: Unclosed element `div`" for template that worked with Handlebars"
I have the following template that worked with Handlebars:

[code]

This worked great with Handlebars for Ember CLI. However, When trying to compile this using HTMLBars for Ember CLI, I get the following error:

[code]

Is this sort of template no longer supported, or is this a bug in HTMLBars?

[2015-02-12 17:39] rwjblue commented on #295
That confuses me.  Do you mean that it worked fine with Handlebars, but not HTMLBars?

[2015-02-12 17:45] rwjblue commented on #295
Even in Handlebars, this would not have worked properly (with bindings and whatnot).  See [this JSBin](http://emberjs.jsbin.com/rwjblue/301/edit?html,js,output) using 1.9.0 that shows what I mean.  When you check the `isEnabled` checkbox, it adds the `div`'s, but they are not updated properly (meaning `Other Stuff` is not in the right place).

[2015-02-12 17:52] mmun commented on #295
@Kerrick Correct, it is not supported. You can think of block helpers like the new `<template>` tag.

[2015-02-12 19:31] Kerrick commented on #295
Sorry, I did mean that.

[2015-02-12 19:37] Kerrick commented on #295
Interesting, it looks like this never _actually_ worked and was always silently failing. Thanks for clarifying!

[2015-02-12 19:37] #295 closed

[2015-02-14 14:21] philn5d commented on #87
Can have a variant on create element that just takes the tag and shoves into element. It looks like createElement does not need to change, but just set up the tag to pass in before calling the existing.

    function createTagRaw(tag, attr){
        //do loop to make IE6 tag
        return tagForAncientBrowserThatIsNoLongerSupportedOrRecommended;
    }

But honestly, IMO why slow down or clutter c

[2015-02-14 22:25] philn5d commented on #87
Better yet, how about an IE6 shim? Could create as an add-in to support IE6. Would definitely be more efficient than one-offs for each function to support IE6. In other words, if you care about supporting it, require('ie6shim') and have that override each method that needs to be altered to support it. Probably a better pattern anyways instead of making each method inefficient and cluttered.

[2015-02-15 17:02] mixonic commented on #87
You cannot shim support for setting a name after input creation,
unfortunately. By the time `createElement('input')` has been called it
is already too late to set a name. You need to know the name at
`createElement` time.

On Sat, Feb 14, 2015, at 05:25 PM, philn5d wrote:

Links:

  1. https://github.com/tildeio/htmlbars/issues/87#issuecomment-74394614

[2015-02-16 10:49] riklaunim opened #298 "Prebuild files"
Is there a chance for prebuild files? I don't use ember-cli in my apps, and I'm not a fan of npm which is hard to do something without errors on Linux ;)

[2015-02-16 22:30] mixonic commented on #298
@riklaunim For HTMLBars, only npm builds are available:

https://www.npmjs.com/package/htmlbars

If you are looking for a way to build Ember templates, use the `ember-template-compiler.js` file. You can find this published with builds:

http://builds.emberjs.com/tags/v1.10.0/ember-template-compiler.js

This blog post is a good resource for building your own compiler:

http://emberjs.com/blog/2015/

[2015-02-16 22:30] #298 closed

[2015-02-16 23:11] bndw opened #299 "Text misinterpreted as `Unclosed element `"
Emberjs: v1.10.0
Ember-cli: v0.1.15

In the following template snippet, the `<--` arrow is misinterpreted as an HTML element.

[code]

[code]

[2015-02-16 23:26] oneeman commented on #299
According to the HTML spec, https://html.spec.whatwg.org/multipage/syntax.html#tag-open-state, `<--` should be a parse error, since the `<` indicates the start of a tag and the `-` is not valid for a tag name.  HTMLBars is not handling this correctly, in that it's not throwing an error right there. Regardless, the markup shown is not valid.  You need to escape those characters (e.g. `&lt;` instead

[2015-02-16 23:32] mixonic commented on #299
cross-post from https://github.com/emberjs/ember.js/issues/10477

[2015-02-16 23:35] oneeman commented on #299
Ah, got it :-)

[2015-02-19 17:35] asciidisco opened #301 "[Question] Standalone usage (in combination with bound-templates.js?!)"
Hi there,
I´ve used handlebars for quite some time now in various combinations (with Backbone, Ampersand, in Node, etc.) & thought that I might should give `htmlbars` a spin, by upgrading a tiny ampersand demo application with already existing handlebars templates.

And after some hard time wiring all the pieces together I actually got it running, even with precompiled templates on the server. Eve

[2015-02-19 18:56] mmun commented on #301
HTMLBars isn't ready for standalone usage yet. There's a substantial rewrite happening in this PR: https://github.com/tildeio/htmlbars/pull/282.

I don't think that PR includes built in data bindings, but it does provide the right primitives to let you integrate with your own data binding layer. I'd like to revisit this question once it lands.

[2015-02-19 19:21] krisselden commented on #301
@asciidisco look at the tests in #282 for examples of how you would update the template.

[2015-03-01 17:08] martinthogersen opened #305 "Question: Can we get rid of the empty spaces in the compiled HTML?"
A normal template, which looks like this:

[code]

Is compiled to this:

[code]

Would it be possible to remove all the "empty" `createTextNode` statements? That would save a bit of space in big projects, and make the HTML content shorter, when Ember fastboot is ready to go.

[2015-03-02 03:48] mmun commented on #305
If you're worried about file size, try comparing the file size after gzipping with and without whitespace. It should compress well. There are other plans for reducing this file size as well by removing the imperative code and replacing it with a lightweight JSON data structure that represents the template.

You can use Handlebars' [whitespace control](http://handlebarsjs.com/expressions.html#white

[2015-03-02 07:30] martinthogersen commented on #305
Thank you. That makes sense.

[2015-03-02 07:30] #305 closed

[2015-03-04 01:34] sir-dunxalot opened #307 "[Question] Block helpers"
In Handlebars one can utilize block helpers to create scopeless wrapping. This was incredibly useful for making HTML more maintainable without adding JS overhead. For example:

[code]

[code]

Is there a way to achieve similar functionality with HTMLBars? I know it's not a recommended use case but I'd like to know if it's possible.

Thank you in advance,
Duncan

[2015-03-06 02:21] marcioj commented on #307
I believe that Martin or Matthew can give a better explanation, but based on my knowledge isn't a good idea to use `data.buffer` in your helper, in truth you not even can refer to `options.data.buffer` in your helpers in ember 1.10. And buffer is a `Ember.RenderBuffer` instance not a htmlbars thing. So since `data.buffer` isn't documented you may have some problems when upgrading. In this case, I

[2015-03-06 02:29] sir-dunxalot commented on #307
Hi Marcio, thanks for the response! I know it's a pretty awful use of helpers but it is incredibly handy to not add unnecessary scope but keep the HTML maintainable.

The approach I've preferred since deprecating the block helper approach is two helpers (e.g. `{{page-content-open}}` and `{{page-content-close}}`), which return HTML blocks, or an open and close helper (e.g. `{{open 'page-content'}}`

[2015-03-08 02:57] #307 closed

[2015-03-10 13:51] sir-dunxalot commented on #307
If anyone comes across this issue in the future: https://github.com/sir-dunxalot/ember-htmlbars-tags

[2015-03-16 10:21] jackmatt2 opened #308 "Passing `index` to HTMLBars helper does not seem to work."
[code]

When running the following code, `index` is an empty object in the idx parameter above.

[code]

Why is this?

[2015-03-16 10:29] jackmatt2 commented on #308
I now have an implementation that does not require this, however, the question sill stands.

    {{#each steps as |step index|}}
         {{#if (eq steps.lastObject step)}}
              Do something
         {{/if}}
    {{/each}}

[2015-03-16 10:45] rwjblue commented on #308
This is not related to HTMLBars development, and is likely better suited for stack overflow.

Issues:

* `Ember.HTMLBars.makeBoundHelper` does not have the signature that you are using for its callback function. Using your implementation with the right signature would look like:

[code]
* `makeBoundHelper` does not automatically subscribe to an arrays length. This means that even with the proper a

[2015-03-16 10:47] #308 closed

[2015-03-26 22:26] rwjblue opened #314 "IE8 <select> Auto selection behavior broken."
Seems that the auto-select behavior is now broken for IE8.

https://github.com/emberjs/ember.js/blob/beta/packages/ember-views/tests/views/select_test.js#L136-150 is the broken test in Ember.

I believe that this is related to:

https://github.com/tildeio/htmlbars/commit/16436c20e870cf25a454dc9c3e2428057a76adb2
https://github.com/tildeio/htmlbars/commit/58fb9272f12e794634ff083cd10ad408d9cbd157

[2015-04-02 03:52] krisselden commented on #299
this should be reported and discussed here https://github.com/tildeio/simple-html-tokenizer/issues

[2015-04-02 03:52] #299 closed

[2015-04-02 20:06] matthewrobb commented on #301
@mmun I am LITERALLY waiting on the edge of my seat to hear your re-visitation of this question :P
![LITERALLY](http://www.eonline.com/eol_images/Entire_Site/201409/rs_250x152-140109091048-literally.gif)

[2015-04-02 20:11] mmun commented on #301
It should be ready in around 6 week, when we intend to merge the glimmer branch into Ember.

[2015-04-07 09:14] karl-sjogren opened #321 "IE11 throws exception when setting input type to date"
We just upgraded to Ember 1.11.1 and instantly started seeing exceptions thrown on IE11. It seems that when we use an input-helper with type="date" IE throws an "Invalid argument" exception in setPropertyStrict in dom-helper.js (https://github.com/tildeio/htmlbars/blob/master/packages/dom-helper/lib/main.js#L253).

I created a quick jsbin to reproduce the problem.

http://emberjs.jsbin.com/liqiwar

[2015-04-07 20:36] leejt489 opened #322 "each helper cannot iterate over objects"
In Handlebars, we could iterate over an object with key/value pairs.  In HTMLbars I get the error `Uncaught Error: Assertion Failed: The value that #each loops over must be an Array. You passed {prop1: prop1Value, prop2: prop2Valuel} `

By design or bug?

[2015-04-07 21:08] mmun commented on #322
Are you referring to Ember's #each helper? You should search for / report an issue there.

[2015-04-07 21:23] leejt489 commented on #322
Cool, thought it was HTMLbars because it used to work when Ember was using Handlebars but I guess it is an ember issue.

[2015-04-07 21:23] #322 closed

[2015-04-10 17:05] mmun commented on #290
Completed in #291.

[2015-04-10 17:05] #290 closed

[2015-04-13 16:56] ryanhollister opened #326 "Using the less than less than operator in script tag is incorrectly parsed"
Appears that htmlbars is incorrectly parsing javascript blocks when there is a '<' operator in the block:

http://emberjs.jsbin.com/jocafazaxa/1/edit?html,js,console

Expected behavior here would be that the sort function is available on the window object.

Note that changing the operator to a '>' works fine.

[2015-04-13 17:14] mmun commented on #326
We don't have plans to support this.

[2015-04-13 17:17] ryanhollister commented on #326
Appreciate you taking the time to look. But to be clear for future reference, what is it you are not planning to support? Less than operators in script tags?

[2015-04-13 17:19] mmun commented on #326
Sorry. I mean we only intended to support HTML that 1. Goes inside the <body> tag 2. has no <script> tags.

[2015-04-13 17:21] matthewrobb commented on #326
What about this case? http://emberjs.jsbin.com/feyuse/1/edit?html,js,console

[2015-04-13 17:28] mmun commented on #326
Yeah, that's a bug in https://github.com/tildeio/simple-html-tokenizer.

[2015-04-13 17:33] #326 closed

[2015-05-05 19:52] devel-pa commented on #301
I am using marionette and I can use HTMLBars as standalon.
To do that you have to:
- add at the beginning of your scripts
[code]

- override the `renderer`
[code]
- override `ItemView` `attachElContent`
[code]

It is only 'usage' not integration.

Paul

[2015-05-06 13:35] matthewrobb commented on #301
Heya @mmun a little Tweety bird brough wind of a certain merge having taken place recently :P

[2015-05-07 03:02] #87 closed

[2015-05-07 03:03] #118 closed

[2015-05-07 03:04] mmun opened #339 "Flesh out the AST walker"

[2015-05-07 03:06] mmun commented on #301
The rewrite was much larger in scope than I expected and we're all quite busy with the Ember integration so I don't think HTMLBars will be stabilizing soon.

[2015-05-07 12:37] matthewrobb commented on #301
@mmun Do you guys have a need and/or a desire for contributors? Waiting for this is like waiting for Christmas, all the presents, nicely wrapped, just waiting for you under the DOM tree.

[2015-05-07 14:49] mmun commented on #301
@matthewrobb Yes, always. Please make an issue if you have a question or suggestion about the architecture.

[2015-05-09 16:20] rwjblue opened #341 "Change hooks to accept `templates` object instead of `template, inverse`."
This was discussed in https://github.com/tildeio/htmlbars/pull/340/files#r29992251, and will make supporting named blocks (should we decide to do that) easier in the future.

[2015-05-15 20:15] hcatlin commented on #322
+1 for this... kind of weird I can't do that...

[2015-05-15 20:44] rwjblue commented on #322
@hcatlin - There is a recent PR in ember adding {{each-in}} helper for iterating objects. It will be feature flagged, but is likely to be available in 2.0.0 (which should hit beta around 4 weeks from now).

[2015-05-21 02:07] jmurphyau opened #348 "inline hook doesn't update morph to false-like values"
The below block of code in the inline hook causes issues when a false-like value is returned.

If `morph.lastValue` is `hello` and you want to update the value to a blank value (e.g. null or '') the check `result && result.value` stops the value from actually being updated.

    if (result && result.value) {
      var value = result.value;
      if (morph.lastValue !== value) {
        morph.setCo

[2015-05-21 02:09] rwjblue commented on #348
It should be `result && 'value' in result`.  Would you mind making a PR with a test?

[2015-05-25 01:34] supernullset opened #351 "Duplicate attribute declarations behaving unexpectedly"
Consider an html tag such as:

[code]

Firefox and chrome both disregard the second class assignment `zoop` and evaluate to the following:

[code]

I noticed that htmlbars does not do the same, and instead produces the following

[code]

I put a fix in a fork [here](https://github.com/tildeio/htmlbars/compare/master...supernullset:sjw/class) but I have no idea if the described behavior is intended

[2015-05-25 19:26] mmun commented on #351
@supernullset I'm not sure if this is defined in the html5 spec, but either way we definitely want to match what the major browsers are doing.

[2015-05-25 23:21] supernullset commented on #351
@mmun Ok, thats what I was thinking. I actually came across this in the `link-to` helper (with two class declarations) in an ember project and I was greeted with an obscure parse error. Id love to help out and get this fixed!  So far as I can tell, this is a post parse issue, my original thought was that I would update the parser to just ignore duplicate nodes, but upon reflection I think thats no

[2015-05-25 23:57] mmun commented on #351
Actually, I think this should be handled early in on the parsing / AST generation stage.

[2015-05-26 01:58] supernullset commented on #351
@mmun How are warnings being thrown in handlebars? I had two thoughts as to why handling this at the parser stage does not feel right:

* Duplicate attributes are not *necessarily* invalid syntax
* A better error message could be produced with the extra information that comes from having a proper AST with the duplicate nodes

How warnings are being thrown might give some hints about where this sho

[2015-05-26 03:26] mmun commented on #351
It's not invalid syntax. Anyways, Esprima parses `{x:1,x:2}` as two properties so let's stick with your way. We don't have a system for warnings yet.

[2015-05-26 03:49] supernullset commented on #351
Cool. Ill get a PR togeather

[2015-05-30 03:41] #348 closed

[2015-06-07 21:13] mixonic opened #366 "Test must be added for maxLength in the cache"
For this code fix: https://github.com/tildeio/htmlbars/pull/365 which caused failures in Ember but not here.

[2015-06-07 23:26] rwjblue commented on #366
/cc @jayphelps

[2015-06-09 15:41] stefek99 opened #368 "Seeking documentation - what operators are allowed?"
I tried searching:
* https://www.google.com/#q=htmlbars+expressions
* https://www.google.com/#q=htmlbars+logic+in+templates
* https://www.google.com/#q=htmlbars+and+or+operators

Found this presentation: http://oscarlodriguez.nl/Labs/htmlbars/#/8
![image](https://cloud.githubusercontent.com/assets/249703/8062006/6b3d6e2e-0ec5-11e5-9d5e-5c008613e39f.png)

But it doesn't tell me much about the synta

[2015-06-09 16:12] salzhrani commented on #368
Better use a computed property `Ember.computed.or`

[2015-06-09 19:28] mixonic commented on #368
Or alternatively this excellent addon: https://github.com/jmurphyau/ember-truth-helpers

These helpers are not provided "out of the box", without an addon you would need to create a computed property. There are no immediate plans to add utility helpers like `or`, but we will be considering it later in the year.

This will be better documented as the Guides for ember are updated around 2.0. I'm clo

[2015-06-09 19:28] #368 closed

[2015-06-10 15:24] stefek99 commented on #368
OK, thank you for letting me know.

[2015-06-11 21:01] victorwpbastos commented on #301
@devel-pa data binding works too?

[2015-06-21 11:38] OrKoN opened #372 "[Question] How to make HtmlBars render a template into existing DOM structure?"
I have the following code (based on the demo):

[code]

and in index.html:

[code]

It works but it seems to be producing new DOM elements every time I run it. As far as I understood from the Architecture.md, HtmlBars should use existing DOM elements and just update them if data changes. How to achieve this?  Looks like I am missing something. Thanks for help!

[2015-06-21 19:26] mmun commented on #372
This isn't possible right now. DOM is only preserved when using `RenderResult#rerender` or `RenderResult#revalidate` on an existing render result.

[2015-06-21 20:28] OrKoN commented on #372
@mmun And is it hard to build a render result based on the existing DOM? I am trying to understand what is needed for this.
I thought that ember fast boot is using something like that already or does it simply render the templates again even if there is html generated on the server?

[2015-06-21 23:24] mmun commented on #372
It requires a significant amount of work. This is the next phase of fast boot, but it hasn't been worked on yet.

[2015-06-22 08:06] OrKoN commented on #372
I see. @mmun, thanks for your reply.

[2015-06-22 08:06] #372 closed

[2015-07-02 21:40] zackthehuman opened #373 "Pruning of nodes through plugins / Walker"
Hi. I have a use case where I need to *remove* nodes from the AST as part of a custom precompilation step. I want to walk the AST and remove certain helpers nodes, but there doesn't seem to be a way to do it (at least not through a plugin through ember-cli). Is this possible or does this need to be built out?

[2015-07-02 21:44] mmun commented on #373
@zackthehuman The current walker is pretty crappy and I have plans to write a new one in the style of babel plugins / estraverse. Basically the "visitor with replacement" pattern. Are you interested in working on that? Happy to chat about it in #dev-glimmer on the [Ember community slack](https://ember-community-slackin.herokuapp.com/).

[2015-07-02 21:54] mmun commented on #373
Also the AST is not public yet so you might experience some breakage in the future. I'd like to have a similar API as `ast-types`, e.g. `t.isHTMLComment(node)`.

[2015-07-02 23:58] zackthehuman commented on #373
Understood. This is something I would be interested in helping with for sure. At first I thought I could just use the AST Visitor from Handlebars but it turns out that wasn't the case :(. The nice thing about that visitor is it follows the "visitor with replacement" pattern you describe.

[2015-07-06 02:25] stefanpenner opened #377 "re-enable CJS tests"
disabled because the CJS tests where leaking into the AMD tests, causing mega grief. The build tooling is hard to parse, and the critical path for ember.js has been satisfied.

At some point we should fix up the build tooling and restore these tests.

[2015-07-06 02:26] stefanpenner commented on #366
this code path has changed, I don't think its needed any longer.

[2015-07-06 02:26] #366 closed

[2015-07-06 02:27] stefanpenner commented on #321
can you re-confirm now? ember 1.13.3 has been released (or will momentarily) with lots of fixes in this area.

[2015-07-06 02:34] rwjblue commented on #321
Ember addressed this in 1.12.0 (with https://github.com/emberjs/ember.js/pull/10690).

Not much can be done here in HTMLBars, or with 1.11.0 so I'm going to close this...

[2015-07-06 02:34] #321 closed

[2015-07-06 20:37] stefanpenner opened #380 "input.type IE issue"
source: https://github.com/emberjs/ember.js/issues/11553

TL;DR `input.type` must be set before input is appended to any tree ~~(fragment,  or body ancestored)~~

[code]

[2015-07-06 20:51] jridgewell commented on #380
This extends a bit further: IE < 9 can't change the input's `type` after it's been inserted into any DOM tree:

[code]

[2015-07-06 20:57] stefanpenner commented on #380
i have removed fragment or body ancestored, and left merely any tree. Does that sound accurate?

[2015-07-06 21:01] jridgewell commented on #380
I was actually trying to point that `type` can't be changed vs. that it must be set beforehand. But, it also happens after it's inserted into any tree. :smiley:

[2015-07-06 21:02] stefanpenner commented on #380
Is that for only < IE9, if so. Im not sure what we should do about that other then tell me its just isn't supported.

[2015-07-06 21:19] jridgewell commented on #380
I've never tested on IE 9. jQuery [claims](http://api.jquery.com/attr/) it's just 8 and lower:

- - -

I think you can get around it with `#cloneNode`, then just replace the old with the cloned (with new `type`).

[2015-07-07 15:28] karl-sjogren commented on #321
Yes rwjblue is right but to be a good reporter I checked it anyways with a new JSBin for 1.13.3 and it worked fine in both IE11 and Edge.

http://emberjs.jsbin.com/feyidusujo/1/edit?html,css,js,output

[2015-07-08 19:20] stefanpenner opened #383 "some props don't quite reflect correctly"

[2015-07-14 15:30] MichaelVdheeren commented on #380
Where are we with this issue? I've tried the alternative to use <input > and then actions to update the value but even then I can't set the type via type={{type}}.

[2015-07-16 15:15] dmoreno opened #388 "Iterate over a second array with index"
I have two arrays:

[code]

And I try to interate with an each block by this way:

[code]

First and second lines works as expected. But third line is empty.

I tried several ways but no one works:

[code]

What is the way to interate over a second array using index? Could it be a bug?

[2015-07-16 15:27] stefanpenner commented on #388
ah looks like you are trying to `zip` two arrays together?

an interesting idea may be.

[code]

[2015-07-16 15:28] stefanpenner commented on #388
some people may view this as WAT, but I think it would be good.

[2015-07-16 16:47] dmoreno commented on #388
I think that syntax {{array2.[index]}} makes sense and it is consistent with the rest of the htmlbars syntax.

And your idea about zip helper is interesting too. But, at least for me, it could be the second option.

[2015-07-16 17:20] stefanpenner commented on #388
cc @mmun

[2015-07-16 20:58] krisselden commented on #388
So, you can do it with native arrays and the get() helper or create an index-of helper. But maybe this warrants a syntax? We should either close and open a different issue with that suggestion or change the title of this issue.

http://emberjs.jsbin.com/wocedobavu/1/edit?html,js,console,output

[2015-07-16 21:07] mmun commented on #388
`array2.[index]` already means something. It's would be breaking to change it. We could consider `array2[index]`.

[2015-07-18 01:45] oliverlangan opened #391 "closing a <track> element causes compilation to fail"
When using a <track> within a <video> element, if it is not closed HTMLBars will correctly compile; but if it is closed with a </track> then HTMLBars fails within the EngTag block.

"Error: Closing tag `track` (on line 5) did not match last open tag `video` (on line 3)."

This is unfortunate, because WebKit (Safari and Chrome both) appends the closing tag when getting the .outerHTML from the DOM.

[2015-07-18 02:08] mmun commented on #391
Track is a void element so this behaviour is "expected". We could provide a better error message.

It sounds like a bug if `outerHTML` behaves that way. Is it relevant, though?

[2015-07-19 05:59] oliverlangan commented on #391
I agree this feels like a bug in WebKit's outerHTML. Firefox behaves correctly.
https://bugs.webkit.org/show_bug.cgi?id=147084

[2015-07-21 12:45] franzliedke opened #392 "Distribute Bower package"
...with pre-built sources, that would be awesome!

[2015-07-27 17:35] zenobius commented on #191
I've worked on this with my company, and there's possibility that couple of people from my team will be able to work on this project for couple of days a week. We're still looking forward for using this in our project (large lists of complicated models to show ;-) ).

Keep doing the good work :-)

[2015-07-27 18:07] mmun commented on #191
Sweet. htmlbars isn't ready for primetime yet. We're still dogfooding the library in Ember. Please join us at #dev-glimmer on the [Ember community slack](https://ember-community-slackin.herokuapp.com/) if you've got any questions! Btw, @krisselden made a demo of dbmonster using pure htmlbars recently. It's pretty fast:

[2015-07-28 15:00] zenobius commented on #191
Thanks for the tip, I'll join the community :-)

I can't wait till we can use this in production.

[2015-07-31 04:16] ericestes opened #394 "IE11: page freezing when showing/hiding buttons containing <svg><use>"
I've found an issue where clicking buttons containing <svg><use> that trigger actions that show/hide themselves will freeze the page in IE11. The cursor still changes between the arrow/pointer, but nothing responds to mouse events. It seems fine in Chrome.

Attached a jsbin. To reproduce, click the button repeatedly. Usually happens after one or two clicks.

http://jsbin.com/xazebatoye/1/edit?html

[2015-07-31 14:55] stefanpenner opened #395 "AttrMorph.state what is it used for?"
https://github.com/krisselden/htmlbars-dbmonster/blob/6eaf57e1000fa827971d8986d20c8663a6ddfe08/dist/es6/morph-attr.js#L51

[2015-08-03 18:40] XrXr commented on #380
@stefanpenner any updates? it's been quite a bit

[2015-08-03 20:57] MichaelVdheeren commented on #380
By now we have decided (together with business reps) to drop support for IE8 in future version (thank you, finally) hence we are not depending on a fix anymore. But I can imagine others are...

[2015-08-18 22:18] adamzr opened #405 "Implement Google's Incremental DOM"
Use [Google's New Incremental DOM](https://github.com/google/incremental-dom) as the backend for rendering. This will allow using its patch function to make re-rendering more efficient.

[2015-08-18 22:40] mixonic commented on #405
@adamzr "more efficient" seems to be a large assumption? Do you see a specific improvement that Incremental DOM brings to the HTMLBars rendering algorithm? It is new, and interesting. I'm not sure that means we should undertake a massive re-write to leverage it.

[2015-08-18 22:47] stefanpenner commented on #405
A quick read, suggests this solves something Orthogonal. HTMLBars never diffs trees of DOM, or VDom (like react and friends). Instead it applies patches to the existing DOM. It does so after detecting changes in the streams of data the populate the dom.

[2015-08-18 22:48] #405 closed

[2015-08-18 23:35] matthewrobb commented on #405
I've followed HTMLBars pretty closely for a decently long time and I have also been following IncrementalDOM since it's announcement. I'm by no means an expert on either but I do believe that the methods used for applying changes to the DOM are very similar in nature between these two projects.

It's probably much too early but it seems reasonable at some future point that some commonalities could

[2015-08-19 01:47] wycats commented on #405
@matthewrobb there is a lot in common between these two solutions, but there is something fundamentally different between the approaches.

Incremental DOM has an API that looks like this:

[code]

When you run an operation (like `elementVoid`), if you are running the same operation as last time, it knows it doesn't have to do any work.

**However**, you still have to run the above code on every re

[2015-08-19 09:56] S-YOU commented on #405
Thanks for the detailed explanations @wycats. Glad I subscribed repo.  What technique do you use for placeholders, btw? comment nodes?

[2015-08-19 13:29] matthewrobb commented on #405
@wycats Just curious couldn't it be possible to do that static analysis and produce code that builds the whole dom tree the first time through but skips the static parts there after? It seems like idom doesn't really PREVENT you from doing smaller patch operations on sub sections of a built tree.

[2015-08-19 14:41] stefanpenner commented on #405
@matthewrobb unless I misread what you meant, that describes what htmlbars does.

[2015-08-19 14:50] mmun commented on #405
@S-YOU Yes, primarily comment nodes with some empty text nodes sprinkled in.

[2015-08-19 16:09] S-YOU commented on #405
Thanks for the info @mmun.

[2015-08-19 17:06] stefanpenner opened #406 "consider whitelist for safe protocols"
https://github.com/tildeio/htmlbars/blob/3035edf9f5505e93340273d0cf561c4853e84557/packages/morph-attr/lib/sanitize-attribute-value.js#L5

cc @kingstontime

[2015-08-19 19:15] matthewrobb commented on #405
@stefanpenner If that is the case (and if I am understanding the right way) then it seems like the primary difference between htmlbars and idom is that htmlbars incorporates a built in model for an efficient output target, correct?

[2015-08-20 04:34] wycats commented on #405
Can you say more about what you mean by this?

[2015-08-20 12:39] matthewrobb commented on #405
I guess it just seems like considering idom a compile target you could output code that never tries to rerender the static portions of a template and instead does small patch operations on the dynamic portions for all subsequent changes. It seems like that efficiency all comes from the compiler and not from the runtime per se.

[2015-08-20 14:39] stefanpenner commented on #405
@matthewrobb what you describe, if I understood you correctly, is what htmlbars does.

[2015-08-20 14:45] stefanpenner commented on #405
Also note, I am not implying there isn't something that can't be learned from idom. Rather the points raised are already competencies of htmlbars.

[2015-08-20 15:35] matthewrobb commented on #405
@stefanpenner I'm sorry about the confusion. I was just trying to clarify my own understanding. It sounds like we're on the same page now.

My take away is that in theory idom could be just as efficient as htmlbars if compiled correctly (or I guess written by hand that way).

[2015-08-20 15:55] stefanpenner commented on #405
Ah ok

[2015-08-25 20:04] xcskier56 commented on #380
@stefanpenner this seems to be an issue for us also. Any word on a fix?

[2015-08-25 20:32] rwjblue commented on #380
I do not believe that anyone has worked on this yet.  A good first start would be to submit a failing test case (we run our test suite against IE9 so submitting a failing test here should show the failure).

[2015-08-25 21:49] xcskier56 commented on #380
Ok. I haven't dug much into htmlbars before. Any suggested files to look at?

[2015-08-25 22:18] XrXr commented on #380
@rwjblue This is an IE8 specific issue, are tests run against it?

[2015-08-26 01:14] xcskier56 commented on #380
After digging into this, I'm not really sure what a failing test should look like because I'm not sure what should be tested and changed. My two thoughts are:

* Instead of outputting a comment and a createMorphAt, the fragementOpcodeCompiler and hydrationOpcodeCompiler treated the input helper as if it was an element, putting it in the dom before attaching the morph.

* In `buildRenderNodes`, cha

[2015-08-27 14:50] xcskier56 commented on #380
@rwjblue I've been working on this for the last day and a half straight, and I don't think I'm anywhere near a solution or even a idea of what to test for. Some guidance would be very appreciated.

[2015-08-27 15:07] rwjblue commented on #380
@mmun - We could use your advice here....

[2015-08-27 20:11] xcskier56 commented on #380
After a lot of digging, I have modified `manualElement` in htmlbars-runtime/morph to add the type attr in the template's `buildFragement` method and remove it from `statements` and `buildRenderedNodes` This solved the IE8 issue of changing that type of the input after the element has become a child node. However, this has raised a few issues.

By doing this, type becomes a static attribute, it can

[2015-08-28 05:53] S-YOU commented on #405
Just FYI, while I am adding Incremental DOM to a benchmark today based on  https://twitter.com/tomdale/status/424247991780659200.

I noticed it has similar speed between Ember/HTMLBars and Incremental DOM. http://rawgit.com/S-YOU/doTA/master/examples/animate-circles/index.html  (_which includes my experimental library too, pls ignore that._)

[2015-09-02 03:35] eddflrs commented on #380
I've been able to reproduce this in IE8 by simply using an input helper with a bound value attribute. @xcskier56 mind sharing your code? I'd like to look into this a bit further and help however possible.

[2015-09-03 21:06] xcskier56 commented on #380
@eddflrs, I've pushed some really basic code to my fork here [here](https://github.com/xcskier56/htmlbars/tree/ie8-input-type-fix). My basic strategy is to not create any morphs for a type attr. This way we will not have to change the type after it has been appended to a node. But for this to work, when we build the element, we need some sort of knowledge about the environment so that we can corre

[2015-09-04 18:39] eddflrs commented on #380
@xcskier56 thanks for sharing! I'll have a closer look over the weekend.

[2015-09-10 19:26] jerel commented on #380
Is anybody close to having a fix or a workaround for this? As far as I can tell all form inputs have been broken in IE8 for a couple months now. `{{input}}` causes my app to whitescreen

[2015-09-10 21:37] adamzr opened #412 "Update the USAGE section of the docs"
The USAGE section of README is pretty much just a TODO. If someone can update with the usage instructions, I'd really appreciate it!

[2015-09-14 23:27] stavarotti commented on #380
@rwjblue @xcskier56 I have bandwidth to work on this issue as I need to get IE 8 working for a client project. I am available 8 hours a day starting 8/15.  Any pointers regarding where to start?

[2015-09-15 03:14] xcskier56 commented on #380
@stavarotti I think I actually have a way to solve this. If we are ok limiting the type attr to being set once and only once at first render, then this works. Which is a requirement for this to work with IE8 anyways

Basically, the idea is to modify the function that creates the attributes to be added to the component so that the `type` attr behaves like `id` attr.

I think that this actually belo

[2015-09-15 16:48] xcskier56 commented on #380
I am currently working on getting tests to pass with more or less what I outlined above. The real question is how should we handle the change in behavior that this will necessitate.

In the tests, we expect that we can set the type attr on an input with a dynamic property, and then when this property gets changed after the input is rendered, the input's type should change to the new value.

This i

[2015-09-15 16:56] rwjblue commented on #380
The test in Ember that confirms `type` can change was added in 1.13 (see https://github.com/emberjs/ember.js/commit/e6f3174433074b0ebc60f4d16fad6c25154ae03f). We could detect if `input` can change `type` after creation (only once, not for every `{{input}}`) and toggle that test off in scenarios that don't work.

[2015-09-15 17:04] jerel commented on #380
Would it make sense to just detect IE8 to decide whether it should be a static or dynamic attribute? `document.documentMode === 8` in IE8 and its value is `undefined` in most others

[2015-09-15 17:42] XrXr commented on #380
A better way to detect it would be just catching the exception, I think.

[2015-09-15 18:47] xcskier56 commented on #380
@rwjblue where should I put this so that it is evaluated once?

Also, is there a way to optionally make this the default behavior for an app? In our case, we support IE8, therefore I would like to make the way inputs behave in modern browsers the same as in IE8 so that I can catch issues that might arise from different add ons much sooner.

[2015-09-15 18:52] rwjblue commented on #380
Yep, don't use a bound property for `type`.

[2015-09-15 18:58] xcskier56 commented on #380
Where should this feature detection code go? Is there a standard place that browser oddities are?

[2015-09-15 18:59] rwjblue commented on #380
I was thinking something similar to: https://github.com/emberjs/ember.js/blob/master/packages/ember-views/lib/views/text_field.js#L13-L35

Also, the PR for Ember should target `release-1-13` branch (since we don't need to include it in 2.x).

[2015-09-16 10:18] Fryie opened #413 "{{link-to}} "disabledWhen" documentation wrong?"
According to [the documentation](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_link-to), ```{{link-to}}``` should work with a ```disabledWhen``` attribute that is evaluated dynamically (as opposed to the "static" ```disabled``` attribute). This also used to work in Ember 1.12. However, it doesn't seem to work as advertised: http://ember-twiddle.com/4bcac030ed2c19272271

Changi

[2015-09-16 15:55] jcope2013 commented on #413
related? https://github.com/emberjs/ember.js/pull/12344

[2015-09-16 16:20] rwjblue commented on #413
@jcope2013 is correct, https://github.com/emberjs/ember.js/pull/12344 fixed the issue in the Ember release-1-13 branch. So I'm going to go ahead and close...

[2015-09-16 16:20] #413 closed

[2015-09-16 17:18] Fryie commented on #413
sorry, just to follow up: in which release is this fixed? 'cause i'm running ember 1.13.7.

[2015-09-16 17:23] jcope2013 commented on #413
@Fryie add ``` "ember": "#release-1-13" ``` to your bower.json to get it now, it will be included in 1.13.11 but you can get it now by using the release branch

[2015-09-17 10:17] Fryie commented on #413
sweet, thanks a lot

[2015-09-17 10:18] Fryie commented on #413
just to clarify, though: why does the syntax with "disabled" work, even though it's supposed to be "static" as per the docs? is that also part of the fixed bug?

[2015-09-17 19:24] stavarotti commented on #380
@xcskier56 Thanks for doing the leg work.  I got pulled into other projects was not able to dedicate the time originally stated.

[2015-09-18 12:46] Fryie commented on #413
just to answer my own question, "disabled" only seems to work: it creates the right css class, so the link looks disabled, but it's actually clickable. I'll try updating ember and changing back to "disabledWhen". :)

[2015-09-21 12:02] Kuzirashi commented on #137
Is this still up-for-grabs or should this be closed? I see this is referenced in commits. @mixonic

[2015-09-21 13:30] mixonic commented on #137
@Kuzirashi seems like commit is part of https://github.com/tildeio/htmlbars/pull/300

[2015-09-21 13:32] Kuzirashi commented on #137
I see.

[2015-09-21 16:53] Kuzirashi commented on #288
Any suggestion where could this logic be placed? `FragmentJavaScriptCompiler.prototype.createElement` or `FragmentOpcodeCompiler.prototype.openElement`? Neither of these?

[2015-09-28 21:40] step2yeung opened #417 "HTMLBars AST does not push CommentStatements?"
I noticed that HTMLBars AST does not push mustache statement styled comments into the AST, while HandleBars AST does. Is there a reason for this difference?

For example:
[code]

Handlebars AST looks like (Notice the CommentStatement element):
[code]

While, HTMLBar AST does not push the comment statement into the AST elements.
[code]

[2015-09-28 22:12] mmun commented on #417
This is a bug. We need to preserve both HTML and HBS comments.

[2015-09-29 13:48] lolmaus opened #418 "Ember 2.1: `<a href={{condition}}>` results in `<a href="null">` after `condition` was dynamically set to null"
Crossposting from https://github.com/emberjs/ember.js/issues/12358

***

So you've got this in your template:

[code]

`condition` is `null`, and it correctly renders to `<a>`.

But then you change `condition` dynamically.

When `condition` is `null` again, it renders as `<a href="null">`.

Demo (thx to @alexspeller): http://ember-twiddle.com/a0a8088d67b451817902

[2015-09-29 13:49] lolmaus commented on #418
Please confirm that this issue belongs here so that I can close the other one.

[2015-09-30 21:19] davidgoli opened #420 "Syntax Error in Android Browser API Level <= 15"
Admittedly this is an older browser, affecting as of this writing 8% of the Android market, but I thought I'd submit this for the record:

- open an HTMLBars-dependent client app (eg. an Ember CLI >= 1.13 app) in an Android browser running API level 15 or below (aka Ice Cream Sandwich, v4.0.4) - including an emulator

result: JavaScript syntax error: "Unexpected strict mode reserved word"

Tracked

[2015-09-30 21:37] rwjblue commented on #420
Would you mind sending in a PR quoting 'yield'?

[2015-09-30 21:52] davidgoli commented on #420
Done. Hopefully uglifiers won't strip the quotes...

[2015-09-30 21:54] mmun commented on #420
Shouldn't babel be handling this?

[2015-09-30 22:02] davidgoli commented on #420
I can confirm that this change does indeed fix this issue.

[2015-09-30 22:02] davidgoli commented on #420
But it does seem like a nice-to-have for the Babel processor.

[2015-10-01 08:26] TheRedDevil commented on #295
I understand that this is a feature, but does anybody know how we can render nested divs using HTMLbars, or is there any other tempating engine compatible with Ember?

[2015-10-01 08:29] TheRedDevil opened #422 "Render recursive structures - unclosed tag error"
I have some problems rendering dropdown menu with Ember.js and HtmlBars.
Data I have for menu is in array, something like this:

    [{name: 'A', lvl: 0}, {name: 'B', lvl: 1}, {name: 'C', lvl: 0}, {name: 'D', lvl: 1}, , {name: 'E', lvl: 1}]

which should result in following html

    <ul>
      <li> <a> A </a>
        <ul>
          <li> <a> B </a> </li>
        </ul>
      </li>
      <li> <a> C

[2015-10-01 09:42] rlivsey commented on #422
StackOverflow is a better venue for questions like this, but while we're here…

The trick is to re-structure your data so you can simply recurse through the levels, eliminating the logic from the template so you don't need to open and close tags.

Here's an [example gist](https://gist.github.com/rlivsey/943edb8664bd866bef3d) and it [running on Ember Twiddle](http://ember-twiddle.com/943edb8664bd86

[2015-10-01 11:10] rwjblue commented on #422
Thanks @rlivsey!

[2015-10-01 11:10] #422 closed

[2015-10-01 11:26] TheRedDevil commented on #422
Thanks, I was looking for iterative solution, but I know see that recursive approach proposed is proper way to do it.

[2015-10-06 09:05] g13013 opened #426 "script content"
It seems that HTMLbars tries to parse a script tag content, and issues this error

[code]

When I remove the script tag it compiles without error !

[2015-10-06 15:46] mmun commented on #426
Script tags are not supported.

[2015-10-06 15:56] stefanpenner commented on #426
:+1:

[2015-10-06 16:25] mmun opened #427 "Using a script tag should throw an error"
If anyone's up for it, here's what to do!

1. Write a function `validateStartTag` and call it in `finishStartTag`: https://github.com/tildeio/htmlbars/blob/master/packages/htmlbars-syntax/lib/parser/tokenizer-event-handlers.js#L80-L86. It should look similar to the existing validation in `finishEndTag`: https://github.com/tildeio/htmlbars/blob/master/packages/htmlbars-syntax/lib/parser/tokenizer-e

[2015-10-06 16:26] mmun commented on #426
I've created a quest issue #427 for anyone who's interested in fixing this.

[2015-10-06 16:43] g13013 commented on #426
thanks @mmun @stefanpenner, i am interested in fixing it, but i do not understand how htmlbars works internally 😱

[2015-10-06 16:46] g13013 commented on #426
@mmun now that I read the steps i understand that it will not be supported, right ?

[2015-10-06 17:35] mmun commented on #426
@g13013 That's right. It will not be supported. It's not clear what the semantics of "rendering" a script would be anyways. What does this even mean?

[code]

[2015-10-06 17:49] g13013 commented on #426
@mmun I understand the reasons.
I think that at least content of `<style>` and `<script>` should be ignored and inserted as is. not parsing  and no dynamic value.

[2015-10-08 14:12] #427 closed

[2015-10-15 21:52] idautocfator commented on #287
No IE8 support is what I'm reading here, sort of.

[2015-10-31 09:46] BenjaminHorn opened #431 "tests"
The readme suggest 3 ways to run tests:

**Via Ember CLI**

Run: ember test --server
Ember CLI is a CI tool, so it will run tests as you change files.

**On the console with PhantomJS**

Run npm test.

**In a browser**

Run npm start.
Visit http://localhost:4200/tests/.

I have tried the last one. After running `npm start` and open the browser I got error messages in the console:

[2015-11-01 06:54] neraliu commented on #406
@stefanpenner, I have a more comprehensive list of tags and attributes those are regarded as unsafe for URI context, i can help out for creating a PR for this feature.
https://github.com/yahoo/xss-filters/blob/master/src/xss-filters.js#L58 (tag names)
https://github.com/yahoo/secure-handlebars/blob/master/src/parser-utils.js#L31 (attributes name)

[2015-11-11 19:08] timkendrick opened #433 "Standard helpers for use outside Ember"
Just wondering if there are any plans to bundle a set of standard HTMLBars helpers (`if`, `each`, etc) so that it can be comfortably used outside Ember?

I've been really impressed with using HTMLBars so far, and I'd love it if there were a minimal-but-batteries-included core package for smaller apps that don't justify the whole Ember experience. Are there plans to continue developing HTMLBars as

[2015-11-11 19:46] mmun commented on #433
@timkendrick I am a big fan of this idea. I've wanted to include the base operators in htmlbars core for a while (and, or, not, etc.). A new version of glimmer will soon be arriving so I've been waiting until then.

[2015-11-11 22:27] timkendrick commented on #433
@mmun that sounds amazing! My main concern was that HTMLBars would only exist to serve Ember's needs, but it's a great library and I'd love to see it become something in its own right - I really feel it's got mass appeal. Looking forward to seeing how things progress!

[2015-11-12 18:13] rwjblue commented on #380
Fixed by emberjs/ember.js#12596.

[2015-11-12 18:13] #380 closed

[2015-11-12 23:40] skanderm opened #434 "Extraneous empty text nodes when formatting .hbs"
Formatting htmlbars templates adds extra text nodes at the beginning and end of component elements. e.g.:
[code]
`node.childNodes` will render: `[#text, "test text", #text]`, whereas `<span>{{text}}</span>` will render `["test text"]`.

This is a problem for us, as we're using `contenteditable` divs and sanitizing nodes is a bit of a pain. The alternative is to keep everything on one line. It'd be

[2015-11-12 23:47] mmun commented on #434
I totally agree but I'm not sure what a good solution is, because we want to capture the semantics of HTML as closely as possible.

For a quick fix, you can write this particular template in a compile-to-handlebars language like http://emblemjs.com/ or http://www.hbars.io/ which has more control over whitespace.

[2015-11-13 00:08] skanderm commented on #434
Got it, thanks. One-liner is fine for now.

[2015-11-30 05:51] neraliu opened #435 "Xss vulnerable in URI context with data protocol"
It is found htmlbars is XSS vulnerable in URI context as the "data:" protocol does not include in the bad protocol list. currently, some browsers' implementation inherit the original page domain such that attacker can steal the user cookies etc.

The PoC is shown in the latest version of FF 42.0 by injecting the pattern like this `data:text/html,<script>alert(document.domain)</script>` in the URI.

[2015-11-30 05:52] neraliu commented on #435
related issue is found in this https://github.com/tildeio/htmlbars/issues/406

[2015-11-30 06:26] stefanpenner commented on #435
@neraliu just a headsup, next time it is likely a good idea to report security issues via http://emberjs.com/security/

[2015-11-30 06:27] stefanpenner commented on #406
@neraliu i wonder if we should make the blacklist/whitelist a common node_module, that way test/auditing/sharing is more centralized. Does this seem possible?

[2015-11-30 08:45] neraliu commented on #435
@stefanpenner I am sorry that I am not aware of this, i will route through that channel to report any findings.

[2015-11-30 14:57] stefanpenner commented on #435
No worries, the readme should say that (but doesn't yet)

[2015-11-30 22:22] ef4 commented on #435
I considered this a vulnerability in Firefox, since every other browser tested provides a safe security context in this situation. So I went through their disclosure process. But they marked it a dup of this issue from 2007:

https://bugzilla.mozilla.org/show_bug.cgi?id=255107

which has been rediscovered and reported at least ten times.

[2015-12-01 02:37] neraliu commented on #435
i would suggest we block this protocol as it allows script execution in most browsers, and FF will inherit the origin domain which is more serious than others.

[2015-12-14 18:19] barneycarroll opened #440 "get helper silently fails to access number-like keyed items"
I thought this was an issue with 'linked' Arrays, but it seems to be more complicated than that. [See this twiddle](https://ember-twiddle.com/7f7053c4402f258fa38f):

[code]
[code]

[2015-12-14 18:36] rwjblue commented on #440
The `get` helper is implemented in Ember itself (not HTMLBars), so this is likely an issue over there.

[2015-12-14 18:49] barneycarroll commented on #440
Oops! Thanks. I misread the test as the implementation :)

[2015-12-14 18:49] #440 closed

[2015-12-18 17:58] zackthehuman commented on #417
The more I think about this it actually seems like not a bug. If the objective of HTMLBars' parsing is to produce an AST that ultimately maps to DOM, then preserving Handlebars comments has no meaningful impact on the DOM, unlike HTML comments.

[2015-12-18 18:29] mmun commented on #417
Yes, they are 100% inert but for practical reasons it would be useful to have the in the AST, e.g. for linting tools. We may opt instead to have a separate Concrete Syntax Tree but my hunch is that there isn't enough differences between the AST and CST to merit the extra complexity.

[2016-01-05 13:54] neraliu commented on #406
@stefanpenner yes we can make it as a standalone npm module for testing/auditing/sharing. and I am wondering what is the default behavior of the htmlbars when it encounters URI context, blacklist or whitelist? what general developers are expecting?

[2016-01-07 15:30] reneelung commented on #434
@skanderm , what was your solution?

[2016-01-10 19:25] skanderm commented on #434
@reneelung It's a hack, but I moved any control statements outside of any important elements and kept the contents on one line:

[code]

[2016-01-10 19:25] #434 closed

[2016-01-10 19:28] mmun commented on #434
@skanderm You can also use the whitespace controller feature of Handlebars:

[code]

is exactly equivalent to

[code]

[2016-01-20 02:27] rmccue opened #444 "Handlebars-style partials aren't handled"
Currently, it seems like Handlebars-style partials in the form `{{> partial-name}}` aren't handled correctly. These are parsed by the Handlebars AST parsing into a PartialStatement, which then ends up getting passed into `HydrationOpcodeCompiler.mustache`. This tries to access `mustache.path`, which isn't set.

I've managed to hack support in by changing `HydrationOpcodeCompiler.mustache` to check

[2016-01-20 04:20] rmccue commented on #444
(FWIW, [here's](https://gist.github.com/rmccue/071bff65e040d1ecbbfe) the total hack I'm using.)

[2016-01-20 15:34] mixonic commented on #444
@rmccue I don't believe we're interested in supporting the `{{>` syntax. There are a few parts of the Handlebars syntax we don't implement, really Ember's templating is a compatible subset of Handlebars syntax. Perhaps @mmun can tell me I'm wrong or close this as wontfix.

[2016-01-21 03:17] rmccue commented on #444
Would it be possible to at least have API support for implementing this? I'd really love to use HTMLBars outside of the Ember ecosystem, but totally understand if you don't want native support for this.

[2016-01-21 05:59] rmccue commented on #444
Managed to get it working by applying that hack via subclassing of `HydrationOpcodeCompiler`, so if you do want to close this out, that's fine (although IMO it'd be nice for HTMLBars to support a larger subset of Handlebars :) ).

[2016-01-21 07:12] rwjblue commented on #444
Not sure if we want to do it or not, but using the flagging infrastructure it should be possible to add this as a feature (similar to `disableComponentGeneration`) which is passed into `options` in `compile` and all the way through to the `TemplateCompiler`.

[2016-01-25 13:22] ssured opened #445 "IE: A security problem occurred when parsing URLS with embedded credentials"
For me in IE this line hits a security trigger when run on a https website:

https://github.com/tildeio/htmlbars/blame/master/packages/dom-helper/lib/main.js#L615

this code runs: `var a = document.createElement('a'); a.href='https://test.com'; console.log(a.protocol);`
this code triggers the error: `var a = document.createElement('a'); a.href='https://user:pass@test.com'; console.log(a.protocol);

[2016-01-25 15:09] rwjblue commented on #445
What version of IE?

[2016-01-25 15:12] ssured commented on #445
tested the above lines on IE11 on a virtual Win7 system

One IE 10 and IE 9 my app did not load, so my guess is that it is an IE security measure. Could not find anything documented online though.

[2016-01-25 15:35] diogomafra commented on #445
Maybe this is related to this: https://support.microsoft.com/en-us/kb/834489

[2016-01-25 16:46] rwjblue commented on #445
@diogomafra - Thanks for tracking down that article!  If that is indeed the issue, I think that even `<a href="https://user:pass@test.com"></a>` might fail.

@ssured - Can you confirm?

[2016-01-25 19:52] ssured commented on #445
@diogomafra Good find indeed! @rwjblue the behaviour is confirmed, specifying a user&pass makes the url render on IE, but you cannot click the link. I think that should be the behaviour of HTMLbars too. For me HTMLbars crashed on this link, which stopped Ember from rendering anything at all. Chrome and Firefox works fine, which left me with a weird bug which cost me a couple of hours.

[2016-01-25 19:55] ssured commented on #445
I'm fine with closing this issue, as the root cause was my finite knowledge of html. Feel free to reopen if you want this as a reminder for protecting other users falling into the same trap. It is a weird edge case though

[2016-01-25 19:55] #445 closed

[2016-01-27 01:52] #205 closed

[2016-01-28 08:54] zhuoqiang opened #446 "[Question] Variable HTML content DOM cache/diff optimization?"
Hi,

Not sure if I understand it correctly, AFAIK, HTMLBar/Glimmer only parse and cache the DOM structure of the Handelbars template, but not the rendered HTML itself.

Here's a special usecase to tell the difference:

[code]
while this handlerbar template itself is simple and easy to cache/diff for glimmer, the inner html generated by `{{toHTML someMarkdownContent}}` maybe quite complex.

I'm won

[2016-02-13 16:35] timkendrick commented on #444
@rmccue sorry for the late reply, but could you share your hack that got this working? I'm also using HTMLBars outside Ember and it'd be great to maintain compatibility with Handlebars partial syntax…

[2016-02-14 13:22] rmccue commented on #444
@timkendrick Some of the worst code I've ever written: https://gist.github.com/1f63f4b21c7e7ed9c7d7

Essentially, it takes the `PartialStatement` type (which is emitted by Handlebars' AST generation) and converts it to a helper just before htmlbars would otherwise crash on the unknown statement.

@rwjblue Good point; I'd be happy to work on patching that in behind a flag if it's likely to be accep

[2016-02-14 15:51] timkendrick commented on #444
Thanks @rmccue, that's super-helpful! Saved me hours of searching.

Your fix works like a charm for inline partials, but weirdly the AST parse step fails for block partials. This is strange seeing as it's [using the stock Handlebars parser](https://github.com/tildeio/htmlbars/blob/master/packages/htmlbars-syntax/lib/parser.js#L10) to generate the AST – I'll let you know if I manage figure out why

[2016-02-15 19:50] cjaeriksson commented on #301
What's the status on this now ?

[2016-03-16 19:49] spinlock99 opened #452 "HTMLBars not respecting Ember.String.htmlSafe()"
If I bind to the variable `message` in a template:

    //template.hbs
    {{message}}

    //component.js
    message: "line one<br>line two"

`message` will be escaped and the `<br>` tag will not cause a line break. However, if the variable is a SafeString, it is still escaped:

    //component.js
    message: Ember.String.htmlSafe("line one<br>line two")

[2016-03-16 20:51] rwjblue commented on #452
Could you please provide a demo/reproduction?

[2016-03-17 01:02] spinlock99 commented on #452
OK, I'm an idiot. I was trying to compose multiple htmlSafe strings and pass that as `message`. If I compose the string then call `htmlSafe` it works.

Thanks.

[2016-03-17 01:02] #452 closed

[2016-04-17 07:47] martndemus opened #454 "The `chars` a TextNode inside a BlockStatement is a lie."
Example:
[code]

Will report a `TextNode` inside the `BlockStatement` with `chars: '\n'` while this should be `chars: '\n\n'`.
I would also accept the start location of the `TextNode` to be on the new line.

[2016-04-17 13:52] rwjblue commented on #454
It is actually "correct". A block statement or mustache statement will "eat" a newline if it follows directly after the mustaches.

[2016-04-19 00:55] mmun commented on #454
This is a default feature of the Handlebars parser. We can disable it but it is a breaking change. See
https://github.com/wycats/handlebars.js/issues/1072 and https://github.com/wycats/handlebars.js/commit/ea3a5a1.

[2016-05-20 16:26] Wingpad opened #465 "Peculiar Treatment of Comments"
I noticed something peculiar about the way htmlbars is treating comments; however, I am not sure if it is a bug or by design. I first noticed this when I commented out the link-to beginning and end tags around a line of code like so:

        {{group.name}}

When I went to look at the live preview, I expected to see the group names; instead I didn't see them and when I inspected the page, I saw [t

[2016-05-20 17:07] mmun commented on #465
Looks like a bug.

On the flip side, you can use Handlebars comments `{{!-- foo --}}` which should not have this problem. You shouldn't use  unless you want to preserve the comments in the compiled template.

[2016-05-20 19:28] Wingpad commented on #465
Alright, duly noted. I was not aware those are a thing and my editor (Atom) just auto inserts HTML-style comments when using the comment keyboard macro (Ctrl+/); perhaps I should look into updating their handlebars plugin as well, haha.

[2016-05-22 21:23] mAAdhaTTah commented on #444
@rmccue Did you ever come up with a solution better than HBS -> string -> vdom? I think I'm trying to do something similar (incremental updates with Handlebars as declarative DOM), but besides wiring it up with virtual-dom (or writing my own bespoke solution), I haven't yet found a way to do so in a standalone manner.

[2016-06-02 17:10] justinaray opened #467 "Character Entities do not render in attributes"
May have been previously reported or may just not be supported, however, Character Entities do not appear to be rendered correctly in attributes.

No combination of `SafeString`, `{{`, or `{{{` seems to work in attributes.

https://ember-twiddle.com/20133742ec40855761691ffc870c6d27?openFiles=twiddle.json%2C

[2016-06-02 21:50] mmun commented on #467
Thanks for reporting the issue. It's probably a problem at the tokenizer stage, i.e. in https://github.com/tildeio/simple-html-tokenizer. Would you be able to make a failing test there (or take a stab at fixing it?)

[2016-06-02 22:30] rwjblue commented on #467
I'm not so sure here. The example from the twiddle is:

    <button title="{{testNoSs}}"></button>

SHT is likely not involved here since it is only used for entities found while parsing at build time like this:

    <button title="One &amp; Two"></button>

At runtime we are generally setting properties on the element (falling back to setting attributes when required). I suspect that something lik

[2016-06-02 22:40] mmun commented on #467
ah, I misunderstood the issue. Rob is right. I didn't realize it was concerning dynamic attributes.

[2016-06-03 13:45] justinaray commented on #467
Updated the twiddle to add a js-based dynamic set.

Not sure if it exercises it in the exact way you are thinking about @rwjblue as it is simply updating existing buttons.  In the update case at least, seems to support both raw ampersand and html char ref.

https://ember-twiddle.com/ea4439dcf4e7cce49e09f198aa01550c?openFiles=templates.application.hbs%2Ctemplates.components.js-entity-attr.hbs

[2016-06-03 13:57] rwjblue commented on #467
As you can see from the updated twiddle, when you do:

[code]

The HTML char ref in `buttons[1].title` is *not* parsed:

![screenshot](http://assets.rwjblue.com/snapshots/2016-06-03-09-56-34_Ember_Twiddle_-_testing_amp.png)

[2016-06-03 14:08] justinaray commented on #467
d'oh!  Can't even use my own twiddle correctly.  :facepalm:  You're right of course @rwjblue.

In researching this yesterday, I saw an approach utilizing a second node to set the `innerHTML` and then scraping that for use in the `title` attr.  Probably more trouble/hacky than it's worth, no?

Also learned that `&` is technically valid in HTML5 as long as it's not ambiguous.

Guess the workaround i

[2016-06-03 14:27] rwjblue commented on #467
Yes, the simpler fix that you could use in your app is to do something like this:

[code]

Demo: https://ember-twiddle.com/03d0d2a034c4184c2deca6d389c8176a?fileTreeShown=false&openFiles=helpers.translate-html-entities.js%2Ctemplates.components.js-entity-attr.hbs

**Note:** I did include some rudimentary escaping in that helper, but you should review more closely to ensure it properly handles unsaf

[2016-06-03 14:38] justinaray commented on #467
That's great!  Above and beyond as usual @rwjblue !  I'll look into the sanitization for use in our app.

Since there's no context of the general mustache output, probably difficult to add this support natively, right?  Glimmer might have more context?

Thanks for all the help!

[2016-06-03 15:00] justinaray commented on #467
For the sake of ~~me~~ future searchers, I have updated the twiddle with solution, examples, link to this issue, etc.

https://ember-twiddle.com/ea4439dcf4e7cce49e09f198aa01550c?openFiles=helpers.translate-html-entities.js%2Ctemplates.components.js-entity-attr.hbs

[2016-06-16 22:15] krisselden opened #468 "Make all nodes in expressions a fixed length"
The `acceptExpression` method of the htmlbars runtime is a source of a lot of V8 JIT churn because of BoundsCheck hoisting, if we made all the nodes the same length, just filling the empty slots with undefined, when the acceptParams and acceptHash loops caused the argument destructing BoundsCheck opcode to be hoisted outside the loop it would not cause a deopt because all nodes would be the same l

[2016-06-17 16:16] rwjblue commented on #468
Breakdown (after running the Ember test suite) of `node.length` counts:

[code]

[2016-06-26 22:30] #468 closed

[2016-06-29 10:12] #426 closed

[2016-08-12 21:42] #339 closed

[2016-08-12 21:43] Cheralyn commented on #339
This is an automatically generated message.

coferc@yahoo-inc.com is no longer with Yahoo! Inc.

Your message will not be forwarded.

If you have a sales inquiry, please email yahoosales@yahoo-inc.com and someone will follow up with you shortly.

If you require assistance with a legal matter, please send a message to legal-notices@yahoo-inc.com

Thank you!

[2016-08-23 00:24] swquinn commented on #444
Even if the `{{>` syntax isn't supported, Is there any intent to enhance the HTMLBars partials support? There are a number of features that Handlebars has, such as passing context or assigned variables into a partial, that could be really useful.

[2016-08-23 00:38] swquinn opened #470 "QUESTION: Is there a document that identifies the syntax of HTMLBars and its compatibility with Handlebars?"
Is there a document that identifies the syntax of HTMLBars and its compatibility with Handlebars?

I considered asking this on StackOverflow, but thought it might be more of a pertinent question to ask in the context of this repo.

I didn't see any documentation of the HTMLBars syntax outside of what is discussed in the Ember.js guide. It seems like this could be really helpful, especially if a se

[2016-09-21 17:30] elgubenis commented on #301
yeah, whats the status?

[2016-10-24 17:10] R2D221 opened #471 "How to define an “if else” helper"
Hi, I've recently found this project and I think it's an interesting alternative to Handlebars.

I'm testing some stuff to see how it works, but I can't find the way to set an “if else” helper. Normally in Handlebars this helper is already defined, but its documentation still shows you how it works.

    Handlebars.registerHelper('if', function(conditional, options) {
      if(conditional) {

[2016-11-27 12:26] fsmanuel opened #472 "Input type='date'"
Browsers adjust the date to the local format. That results in the following error if you try to enter 27.11.2016 (valid german format):

jQuery has the same problem but can be tweaked with `valHooks.date`. See https://github.com/martndemus/ember-form-for/issues/123#issuecomment-263118713 how the hook can be implemented.

Still htmlbars [`setPropertyStrict`](https://github.com/tildeio/htmlbars/blob

[2016-12-18 19:39] jvitela opened #473 "Status of the project?"
Is this project abandoned? It is already 6 months since the last update, and there are several issues and pull requests without answer.

[2016-12-18 20:21] rwjblue commented on #473
This project was created to be used inside of Ember, as the default templating engine. We have been working on a replacement ([glimmer](https://github.com/tildeio/glimmer)) for quite some time, and as of Ember 2.10.0 ([recently shipped](http://emberjs.com/blog/2016/11/30/ember-2-10-released.html)) glimmer is now the default rendering templating engine.

So...

I'd say this project is essentially i

[2017-01-27 16:07] pvchaumier commented on #295
Any news on how this could work without having to duplicate code ? Great work on Ember by the way :smile:

[2017-05-28 14:18] atomictag commented on #405
Although this is an old and closed thread, in case anybody is still interested I have just published `incremental-bars`, a library that allows to use incremental-dom with Handlebars templates.

You can check it out [here](https://github.com/atomictag/incremental-bars).

[2017-06-16 14:57] egemon commented on #388
Any updates on that?

[2017-06-16 17:06] mmun commented on #388
@egemon This should have been closed as working. What's the issue you're running into?

[2017-06-16 17:11] mmun commented on #388
Possibly related https://github.com/emberjs/ember.js/pull/15366

[2017-06-16 17:13] egemon commented on #388
From what version this should work?